/* Style Sheet */

.col-md-2{
  background-color: #302f2f;
  height: 1000px;
}

.col-md-10{
  background-color: #c1c1c1;
  height: 1000px;
}

h3{
  color:lightblue !important;
}

.searchBar{
  width: 1150px;
}

hr
{
  color: #fcfdff !important;
background-color: #fcfdff !important;
}

.rightEdge{
  float: right;
}

.remove{
  float: right;
  font-size: 15px;
  color:#8d8d8e;
}
